@font-face {
    font-family: 'Futura PT Medium';
    src: url('/shopify/assets/FuturaPT-Medium.static.eot');
    src: url('/shopify/assets/FuturaPT-Medium.static.eot?#iefix') format('embedded-opentype'),
    url('/shopify/assets/FuturaPT-Medium.static.woff') format('woff'),
    url('/shopify/assets/FuturaPT-Medium.static.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
	font-family: "Adorn";
	src: url("/shopify/assets/AdornCondensedSans.static.otf");
    font-weight: 500;
    font-style: normal; 
}

